.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

h3{
    color: #D77474;
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 171.429% */
    letter-spacing: 2px;
    text-transform: uppercase;
}
h1{
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px; /* 125% */
}